*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    padding: 30px 30px;
  background: linear-gradient(to bottom, #bde4ff, #0074e4);
.hero{
    width: 100%;
    height: 100vh;
    display: grid;
    /* background-color: black; */
    grid-template-columns: 1fr 1fr 1fr;
}
.TodoList,.Progress,.Done{
    margin-top: 30px;
    /* border: 1px solid red; */
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 20px;
}
.todo-cards{
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.card {
  border: 1px solid #cac8c8fb;
  height: auto;
  border-radius: 5px;
  padding: 10px;
  width: 300px;
  margin-bottom: 20px;
  /* box-shadow: 0 0 3px 5px red; */
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.edit-button {
  background-color: #ccc;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
}

.card-body {
  width: 100%;
  padding: 0;
  margin-top: 10px;
}
.card-body .Description{
  width: 100%;
  min-height: 50px;
  background-color: rgb(221, 216, 216);
  border-radius: 5px;
  text-align: center;
 
  
}
.card-body .Time{
  background-color: rgb(221, 216, 216);
  border-radius: 5px;
  font-size: 30px;
}
.travelButton{
display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.travelButton button{
  background-color: #e48242;
  border-radius: 20px;
  padding: 5px;
  border: 1px solid orange;
  width: 100%;
 
  
}




.card {
  width: 300px;
  height: 200px;
  /* background-color: #ffd166;; */
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  perspective: 1000px;
  transform: rotateX(2deg) rotateY(2deg);
  transition: transform 0.3s;
}

.card:hover {
  transform: rotateX(10deg) rotateY(5deg);
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2);
}

.card-header {
  /* background-color: #ffd166;; */
  padding: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.cardTitle {
  margin: 0;
  color: #fff;
}

.edit-button {
  float: right;
  background-color: #fff;
  color:  #ffd166;;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.card-body {
  padding: 10px;
}

.cardDescription {
  font-size: 16px;
  margin: 0;
  margin-bottom: 10px;
  color: #fff;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.cardTime {
  margin: 0;
  font-size: 14px;
  color: #fff;
}

.travelButton {
  padding: 10px;
  /* background-color: #7fdbff;; */
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.toProgress {
  background-color: #fff;
  color: #d32f2f;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}